div.content {

    height: 100px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
}

div#first{
    background-color: red;
}


div#second{
    background-color: green;
}

div#third{
    background-color: blue;
}